<launch>
  <arg name="t" default="1000" />
  <arg name="p" default="" />
  <arg name="r" default="1000" />
  <arg name="b" default="0" />
  <arg name="s" default="0" />
  <node name="oneshot_timer_tests" pkg="oneshot_timer_tests" type="oneshot_timer_tests"
   args="-s $(arg s) -r $(arg r) -t $(arg t) -p '$(arg p)' -b $(arg b)"
  />
</launch>
