<launch>
  <arg name="s" default="0" />
  <arg name="r" default="1000" />
  <arg name="f" default="1000" />
  <arg name="p" default="" />
  <arg name="d" default="1" />
  <arg name="l" default="0" />
  <node name="ct_subscriber0" pkg="communication_tests" type="communication_tests_subscriber"
   args="-s $(arg s) -r $(arg r) -f $(arg f) -p '$(arg p)0' -d $(arg d) -l $(arg l)"
  />
  <node name="ct_subscriber1" pkg="communication_tests" type="communication_tests_subscriber"
   args="-s $(arg s) -r $(arg r) -f $(arg f) -p '$(arg p)1' -d $(arg d) -l $(arg l)"
  />
  <node name="ct_subscriber2" pkg="communication_tests" type="communication_tests_subscriber"
   args="-s $(arg s) -r $(arg r) -f $(arg f) -p '$(arg p)2' -d $(arg d) -l $(arg l)"
  />
  <node name="ct_subscriber3" pkg="communication_tests" type="communication_tests_subscriber"
   args="-s $(arg s) -r $(arg r) -f $(arg f) -p '$(arg p)3' -d $(arg d) -l $(arg l)"
  />
  <node name="ct_subscriber4" pkg="communication_tests" type="communication_tests_subscriber"
   args="-s $(arg s) -r $(arg r) -f $(arg f) -p '$(arg p)4' -d $(arg d) -l $(arg l)"
  />
  <node name="ct_publisher" pkg="communication_tests" type="communication_tests_publisher"
   args="-s $(arg s) -r $(arg r) -f $(arg f) -p '$(arg p)' -d $(arg d) -l $(arg l)"
  />
</launch>
