<launch>
  <arg name="rtSched" default="0" />
  <arg name="amt" default="1000" />
  <arg name="freq" default="1000" />
  <arg name="fp" default="" />
  <arg name="dly" default="1" />
  <node name="ct_subscriber" pkg="communication_tests" type="communication_tests_subscriber"
   args="--rtSched $(arg rtSched) --amt $(arg amt) --freq $(arg freq) --fp '$(arg fp)'"
  />
  <node name="ct_publisher" pkg="communication_tests" type="communication_tests_publisher"
   args="--rtSched $(arg rtSched) --amt $(arg amt) --freq $(arg freq) --fp '$(arg fp)' --dly $(arg dly)"
  />
</launch>
