<launch>
  <arg name="rtSched" default="0" />
  <arg name="messages" default="1000" />
  <arg name="frequency" default="1000" />
  <arg name="filePrefix" default="" />
  <node name="ct_subscriber" pkg="communication_tests" type="communication_tests_subscriber"
   args="--rtSched $(arg rtSched) --messages $(arg messages) --frequency $(arg frequency) --filePrefix '$(arg filePrefix)'"
  />
  <node name="ct_publisher" pkg="communication_tests" type="communication_tests_publisher"
   args="--rtSched $(arg rtSched) --messages $(arg messages) --frequency $(arg frequency) --filePrefix '$(arg filePrefix)'"
  />
</launch>
