<launch>
  <arg name="s" default="0" />
  <arg name="r" default="1000" />
  <arg name="f" default="1000" />
  <arg name="p" default="" />
  <arg name="d" default="1" />
  <arg name="l" default="0" />
  <arg name="t" default="communication_test"/>
  
  <node name="ct_subscriber" pkg="communication_tests" type="communication_tests_subscriber"
   args="-s $(arg s) -r $(arg r) -f $(arg f) -p '$(arg p)' -d $(arg d) -l $(arg l) -t $(arg t)"
  />
</launch>
